.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #e96405 1.18%, #f6850c 100%);
  color: white;
  padding: 20px;
  justify-content: center;
  box-sizing:content-box;
}
.counter--count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}


* {
  box-sizing: border-box;
}


.column {
  float: left;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Left and right column */
.column.side {
  width: 15%;
}

/* Middle column */
.column.middle {
  width: 70%;
  justify-content: center;
  background-color: #fb8d18;
}

.startbuttoncontainer{
  display: grid;
  place-items: center;
}

button:hover{
  background-color: #7d877d;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

button{
  border-style: solid;
  border-radius: 1px;
  margin: 5px;
}

#answers{
  display:grid
}